header {
  text-align: center;
}
.image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.nav-links{
  padding: 10px;
  background-color: gray;
}
.caption{
text-align: center;
font-size: medium;
}
.paragraph{
  width: 800px;
  margin-left: auto;
  margin-right: auto;

}
.footer{
  float: left;
  background-color:red;
  text-align: center;
  width: 25%;
}